.donut-chart {
  position: relative;
}
.donut-center-text {
  text-align: center;
  position: absolute;
  font-size: 24px;

  top: 120px;
  left: 100px;
}
.donut-center-text span {
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .donut-chart-body-chart {
    height: 270px !important;
    width: 270px !important;
  }

  .donut-center-text {
    font-size: 20px;

    top: 120px;
    left: 90px;
  }
}
